#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    margin: 0;
}

body {
    background: #f5f0e8;
    color: #2e2a22;
    height: 100%;
    margin: 0;
    font-family: 'Bitcount Prop Single','Roboto', sans-serif;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 1vh 0;
}

#canvas {
    grid-column: 2;
}

#results {
    display: flex;
    flex-direction: column;
    grid-column: 3;
}